[Unit]
Description=Ornek bir sunucu
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/ornek
ExecStart=/usr/bin/gunicorn --workers 3 --bind unix:app.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target